{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 itemprop="name">{{ .Title }}</h3>
        {{ if eq .Params.type "recipe" }}
        <i class="ti-bookmark"> {{ .Params.categories }} </i>
        <!--<i class="ti-world"> {{ .Params.cuisine }} </i>-->
        <i class="ti-time"> {{ .Params.totalTime }} min </i>
        <i class="ti-face-smile"> {{ .Params.yield }} </i>
        {{ else }}
        <i class="ti-play"></i>{{ .PublishDate.Format "Jan 02, 2006" }}
        {{end}}
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container" itemscope itemtype="http://schema.org/Recipe">
    <div class="row">
      <div class="col-lg-8">
        <div class="spacer"></div>
        <article class="content">
          <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded  mr-5 mb-4">
          <div itemprop="description">{{.Content}}</div>

          {{ if eq .Params.type "recipe" }}

          <!-- INGREDIENTS -->

          {{ with .Params.Ingredients }}
        <h4>Ingredientes</h4>
        <ul itemprop="ingredients">
          <!-- list ingredients that make up recipe -->
          {{ range . }}
          <li class="ingredient" itemprop="recipeIngredient">
            {{ with ( . | markdownify) }}
            {{ . }}
            {{ end }}
          </li>
          {{ end }}
        </ul>
        {{ end }}

        <!-- DIRECTIONS -->
        <div>
        <h4> Preparación</h4>
        <ol itemprop="recipeInstructions">
          {{ range .Params.Directions }}
          <li class="directions">
            {{ with ( . | markdownify) }}
            {{ . }}
            {{ end }}</li>
          {{ end }}
        </ol>
      </div>
<h4>Notas</h4>
<div itemprop="description">{{.Params.tips}}</div>
<hr>
         <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

           {{ end }}
        </article>
      </div>

      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog single -->

{{ end }}